.App {
  background-color: hsl(0, 0%, 20%);
  margin:5% 40%;
  border-radius: 4px;
  padding: 2rem;
}
.Container * {
  background-color:  hsl(220, 85%, 70%);
  margin: .25rem;
  border-radius: 7px;
  padding: .25rem;
}
.text-center{
  text-align: center;
}

button{
  background-color: rgb(255, 255, 104);
  margin: .25rem;
  border-radius: 7px;
  padding: .25rem;
}